body {
    background-color: #462222;
    color: rgb(247, 238, 238);
    margin: 0;
}



article{
    background-color: rgba(111, 65, 17, 0.892);
    color: rgb(15, 3, 1);
    border-bottom: 1px solid white;
    padding: 1.5rem;
}

nav>ul>li{
    color: yellow;
}

#titulo_del_blog {

    text-align: center;
    font-size: 3rem;
    padding: 6.0rem;
}
.ilustraciones{
    border: 4px solid white;
    display: inline-block;
}
.captions{
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;
}

nav>ul>li{
    list-style: none;
}

nav>ul>li>a{
    text-decoration: none;
    color: #fff;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    padding-bottom: 1.5rem;
 }
 @media( min-width: 1024.1px) and (max-width: 1324.1px){
    aside div{
       flex-direction: column;
    }
 }
 



 @media(min-width: 1100px){
    nav>ul{
       display: flex;
    align-items: center;
    justify-content: space-around;
    
      }
      nav{
       border-bottom: 5px solid red;
       position: fixed;
       width: 100%;
       background-color: #000000;
      
      }

 } 
 nav >ul >li a:hover {
    text-decoration: underline;
    color: greenyellow;
  }

  article> header> hgroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 article> header> hgroup> h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  article> header> hgroup> h2> img{
    margin-right: 1rem;
  }
  aside> h2{
    text-align: center;
    font-size: 1.3rem;
   
   
  }
  
  
  aside> div:nth-child(2n){
     background-color: rgb(44, 43, 43);
   display: flex;
     
  
  
  }
  aside> div> img{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #fff;
     padding: 0.5rem;
     border-radius: 50%;}
  
     aside> div{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        padding: 0.6rem;
        border-bottom: 1px dashed #fff;
     }

section {
    
    /* despliégate como  grid */
    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(12, 1fr);
    /* deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}
section>header{
    grid-column: span 12;
   }
   section>main{
    grid-column: span 8;
   }
   section>aside{
    grid-column: span 4;
   }
   section>footer{
    grid-column: span 12;
   }

   @media(max-width: 1100px){
    section>main{
       grid-column: span 12;
  }
 
      section>aside{
       grid-column: span 12;
      }
 
      aside div{
       flex-direction: column;
      }
      section>footer{
       flex-direction: column;
      }
    }

    #footblog{
        margin: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 4rem;
      padding-bottom: 4rem;
      padding-left: 0rem;
      padding-right: 0rem;
      font-size: 1.3rem;
    }

    #footblog> div:nth-child(2){
        font-size: 0.9rem;
  
     }
 