body {
    background-color: #0e0b0b;
    color: rgb(247, 238, 238);
}



article{
    background-color: rgb(245, 237, 237);
    color: rgb(15, 3, 1);
}

nav>ul>li{
    color: yellow;
}

#titulo_del_blog {

    text-align: center;
    font-size: 3rem;
}